{% extends "layout.html" %}
{% block content %}
<br>
<div class="container">
    <h1>ログイン</h1>
    <form>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Emailアドレスを入力してください</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">パスワードを入力してください。</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <p>初めてご利用の方は<a href="/make-account">新規登録</a>してください。</p>
</div>
{% endblock %}