{% extends "layout.html" %}
{% block content %}
<!---完成してます(2025/02/08)--->
<br>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                利用者個人idの作成
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form class="row g-3">
                        <div class="col-12">
                            <label for="input_user_name" class="form-label">個人氏名</label>
                            <input type="text" class="form-control" id="input_user_name" placeholder="山田太郎">
                          </div>
                        <div class="col-md-6">
                          <label for="input_email" class="form-label">メールアドレス</label>
                          <input type="email" class="form-control" id="input_email" placeholder="mail-address@tansy.com">
                        </div>
                        <div class="col-md-6">
                          <label for="input_password" class="form-label">パスワード</label>
                          <input type="password" class="form-control" id="input_password">
                        </div>
                        <div class="col-12">
                          <label for="input_org_id" class="form-label">組織id</label>
                          <input type="text" class="form-control" id="input_org_id" placeholder="管理者にご確認ください">
                        </div>
                        <div class="col-12">
                            <label for="input_user_id" class="form-label">個人id</label>
                            <input type="text" class="form-control" id="input_user_id" placeholder="管理者にご確認ください">
                          </div>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              利用規約と入力内容をご確認の上、チェックしてください。
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">新規作成</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    本ツールのご利用要件
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>本ツールのご利用には、以下の条件を満たす必要があります。</p>
                    <ul>
                        <li>
                            組織idの作成<strong>(必須)</strong>
                            <p>
                                組織idがわからない方は、管理者にご相談ください。<br>
                                組織管理者の方で、導入をご検討の方は、<a href="make_org_form.html">フォーム</a>よりご相談ください。
                            </p>
                        </li>
                        <li>
                            利用者個人idの作成<strong>(必須)</strong>
                            <p>利用者個人idは、組織管理者より発行されます。</p>
                        </li>
                        <li>
                            グループidの作成<strong>(任意)</strong>
                            <p>グループidとは、各教室にて汎用的に利用するためのidです。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}