[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.1.0"
ipython = "==8.12.3"
matplotlib = "==3.8.4"
numpy = "==1.23.5"
pandas = "==2.2.3"
pulp = "==2.8.0"
seaborn = "==0.13.2"
tqdm = "==4.66.5"
flask-login = "*"
openai = "*"
python-dotenv = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.10"
